body {
    margin: 0;
    padding: 0;
}

/*fps class for debugging*/
#fps {
    background-color: black;
    position: fixed;
    bottom:0;
    right:0;
    display:table;
    color:green;
}

#viewport {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: blueviolet;
    overflow:hidden;
}

#map {
    top: 0;
    left: 0;
    height: 100vh;
    width: 3000px;
    background-color: gray;
    transition-property: transform;
    transition-duration: 50ms;
    transition-behavior: linear;
}

.station {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    background-color: green;
    height: 2vh;
    width: 2vh;
    position: absolute;
}
